/* You can add global styles to this file, and also import other style files */
.main-view{  
    min-height: 100vh;  
      
}  
.pages{  
    padding-top: 54px;  
} 

html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
  line-height: 30px;
}